.comments-wrapper {
    flex: 0 1 100%;
    margin-top: 3rem;
}

p.comment-form-comment {
    margin-top: 1.5rem;
}

    p.comment-form-comment label {
        display: block;
    }

#comments p.form-submit {
    margin-top: 1.5rem;
}