	.horizontal__nav .main-navigation {
		position: relative;
		display: flex;
		justify-content: flex-end;
		padding-left: 0;
		list-style-type: none;
	}

	.horizontal__nav .main-navigation li {
		display: inline-flex;
	}
	
	.horizontal__nav .main-navigation .sub-menu {
		background: #000;
		border-radius: 0.4rem;
		color: #fff;
		font-size: 1.7rem;
		opacity: 0;
		padding: 1rem 0;
		position: absolute;
		right: 9999rem;
		top: calc(100% + 2rem);
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
		transform: translateY(0.6rem);
		width: 20rem;
		z-index: 1;
	}
	
	.horizontal__nav .main-navigation ul:before {
		height: 2rem;
		left: 0;
		right: 0;
	}
	
	.horizontal__nav .main-navigation ul:before, .main-navigation ul:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 100%;
	}
	
	.horizontal__nav .main-navigation ul::after {
		border: 0.8rem solid transparent;
		border-bottom-color: #000;
		right: 1.8rem;
	}

	.horizontal__nav .main-navigation ul a {
		background: transparent;
		border: none;
		color: inherit;
		display: block!important;
		padding: 1rem 2rem;
		transition: background-color 0.15s linear;
	}
	
	.horizontal__nav ul li {
		position: relative;
	}

	.horizontal__nav ul.sub-menu li {
		display: block;
	}
	
	.horizontal__nav ul li a {
		margin: 0;
		padding: 1rem 1.2rem;
		text-decoration: none;
		font-family: var(--font-sans-serif);
		font-weight: 300;
		color: var(--color-white);
		transition: background-color 277ms cubic-bezier(0.4, 0, 1, 1);
	}
	
	.horizontal__nav ul li a:hover {
		background-color: var(--color-black);
		transition: background-color 277ms cubic-bezier(0.4, 0, 1, 1);
	}

	.horizontal__nav li.menu-item-has-children:hover .sub-menu {
		right: 0;
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.15s linear, transform 0.15s linear;
	}

	.sm .mobimenu {
		display: flex;
	}

	.lap .mobimenu,
	.mainmenu {
		display: none;
	}

	.lap .mainmenu {
		display: block;
	}

	.sm .burger-menu {
		width: 35px;
		height: 30px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		z-index: 999;
	}

	.lap .burger-menu {
		display: none;
	}

	.mobimenu ul.main-navigation {
		padding: 0;
	}

	.sm .line {
		display: block;
		width: 100%;
		height: 3px;
		background-color: var(--color-white);
		transition: all 277ms linear;
	}
	
	.line,
	.lap .line {
		display: none;
	}

	.change .line-1 {
		transform: rotateZ(-45deg) translate(-8px, 6px);
	}

	.change .line-2 {
		opacity: 0;
	}

	.change .line-3 {
		transform: rotateZ(45deg) translate(-8px, -6px);
	}
	
	.mobimenu {
		width: 100vw;
		height: 100%;
		background-color: var(--color-blue);
		position: fixed;
		top: 0;
		right: -100vw;
		justify-content: center;
		align-items: center;
		transition: right 500ms cubic-bezier(1, 0, 0, 1);
		z-index: 2;
	}

	.change.mobimenu {
		right: 0;
	}

	.vertical__nav li {
		list-style: none;
		margin: 0 0 2rem 0;
	}

	.vertical__nav ul.sub-menu {
		padding-left: 20px;
		margin-top: 15px;
	}

	.vertical__nav li a {
		text-decoration: none;
		color: var(--color-white);
	}

	.mobimenu li a:hover {
		color: var(--color-orange);
	}

	.mobimenu-is-open {
		position: relative;
		z-index: 0;
	}

	body.mobimenu-is-open {
		overflow-y: hidden;
	}

	.sm .current-menu-item {
	    box-shadow: none;
	}
	
	
	