span.screen-reader-text {
    display: none;
}

input[type="search"],
input[type="text"],
input[type="email"] {
	height: 53px;
	line-height: 53px;
}

.lap input[type="search"],
.lap input[type="text"],
.lap input[type="email"] {
	min-width: 320px;
	padding: 0 10px;
    border-radius: 3px;
    border: 2px solid var(--color-black);
}

div#wpforms-3709 {
    max-width: 800px;
    margin: 0 auto;
}