.sm .entry-header {
	padding: 2.5rem 0;
}

.entry-header,
.lap .entry-header  {
	padding: 6rem 0;
}

.wp-caption {
    max-width: 100%;
}

img {
	display: inline-flex;
    vertical-align: middle;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}