    /* General Variables */

	:root {
        --gray-light          : 200, 200, 200;
        --gray-light-x        : 230, 230, 230;
        --gray                : 100, 100, 100;

        --wheat               : 224, 203, 168;
        --egg                 : 243, 239, 224;
        --sugar               : 239, 241, 237;
        --white               : 255, 255, 255;
        --black               :  21,  21,  21;
        --orange              : 241, 145,  33;

        --color-wheat         : rgb(var(--wheat));
        --color-white         : rgb(var(--white));
        --color-black         : rgb(var(--black));
        --color-orange        : rgb(var(--orange));
        --color-gray          : rgb(var(--gray-light-x));
        --color-egg           : rgb(var(--egg));

        --color-text          : var(--color-black); 
        --color-text-link     : var(--color-orange); 

        --font-scale          : 1.2;

        --root-font-size      : 10px;
        --base-font-size      : 1.6rem;
        --base-line-height    : 1.5;
        --text-line-height    : 1.7;
        --heading-line-height : 1.2;

        --text-rhythm         : 5rem;
        --grid-gutter         : 2em;
        --vertical-rhythm     : 5rem;

        --container-width     : 1200px;
        --container-fluid     : 100%;

        --grid-gutter         : 1em;  
        --half-grid-gutter    : calc((var(--grid-gutter) * 0.5));
        --gutter-compensation : calc((var(--grid-gutter) * 0.5) * -1);
        --vertical-rhythm     : 3em;
        
        --font-sans-serif     : 'AvertaStdPE-Thin';
        --font-sans-bold      : 'AvertaStdPE-Bold';
        --font-icon           : 'IcoFont';
    }

    .sm {
        --font-scale          : 1.1;
        
        --base-font-size      : 1.8rem;
        --base-line-height    : 1.5;
        --text-line-height    : 1.5;
        --heading-line-height : 1.3;
        --text-rhythm         : 2rem;

    }

    .tab {
        --font-scale          : 1.125;
        --base-font-size      : 1.5rem;
        --base-line-height    : 1.5;
        --text-line-height    : 1.6;
        --heading-line-height : 1.25;

        --text-rhythm         : 3rem;
        --grid-gutter         : 1.5em;
        --vertical-rhythm     : 4rem;
    }

    .lap {
        --font-scale          : 1.2;
        --base-font-size      : 1.8rem;
        --base-line-height    : 1.5;
        --text-line-height    : 1.7;
        --heading-line-height : 1.2;

        --text-rhythm         : 5rem;
        --grid-gutter         : 2em;
        --vertical-rhythm     : 5rem;
    }
    
    /* Set up the colors */

    .color__wheat {
        color: var(--color-wheat);
    }

    .color__white {
        color: var(--color-white);
    }
    
    .color__black {
        color: var(--color-black);
    }

    .color__orange {
        color: var(--color-orange);
    }
     

    /* Set up the background colors */

    .bg__orange {
        background: var(--color-orange);
    }

    .bg__white {
        background: var(--color-white);
    }

    .bg__black {
        background: var(--color-black);
    }


 	/* The panel that restrains contents to a maximum width */

    .container {
        box-sizing: border-box;
        max-width: var(--container-width);
        margin-left: auto;
        margin-right: auto;
        padding-right: var(--half-grid-gutter, 8px);
        padding-left: var(--half-grid-gutter, 8px);
    }

    .container-fluid {
        padding-right: var(--half-grid-gutter, 8px);
        padding-left: var(--half-grid-gutter, 8px);
    }

    /* Global base stylings */

    html {
        font-size: var(--root-font-size);
    }

    body {
        font-family: var(--font-sans-serif);
        font-size: var(--base-font-size);
        color: var(--color-text);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-sans-bold);
        line-height: var(--heading-line-height);
        -webkit-text-stroke: 0;
    }

    h1 {
        font-size: calc(var(--base-font-size) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
    }

    h2 {
        font-size: calc(var(--base-font-size) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
    }

    h3 {
        font-size: calc(var(--base-font-size) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
    }

    h4 {
        font-size: calc(var(--base-font-size) * var(--font-scale) * var(--font-scale) * var(--font-scale));
    }

    h5 {
        font-size: calc(var(--base-font-size) * var(--font-scale) * var(--font-scale));
    }

    h6 {
        font-size: calc(var(--base-font-size) * var(--font-scale));
    }

    .base__font {
        font-family: var(--font-sans-serif);
        line-height: var(--text-line-height);
    }

    .text {
        line-height: var(--text-line-height);
        > {
            h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
                margin-top: calc(.333*var(--text-rhythm));
            }
      
        * + * {
                margin-top: calc(var(--text-rhythm)/2);
            }
        }

        p {
            -webkit-text-stroke: .025em currentColor;
        }
      
        ul li {
            padding-bottom: 1.5rem;
        }
    }

    a {
        color: var(--color-text-link);
    }

    ::selection {
        background-color: var(--color-orange);
        color: var(--color-black);
    }

    .is-rel {
        position: relative;
    }

    .post-thumbnail img,
    .lazyload {
        max-width: 100%;
        height: auto;
    }

    img[src=""] {
        opacity: 0;
    }
    
    img:not([src=""]) {
        transition: opacity 0.7s linear 0.2s;
        opacity: 1;
    }

    /* Usefull styles */

    blockquote {
        color: rgba(0,0,0,.8);
        border: 2px solid #ffedbb;
        background: #fff4d5;
        border-radius: 6px;
        font-weight: 500;
        margin: 1.5rem 0;
        padding: 1.5rem;
        line-height: 1.6;
    }

    @font-face {
        font-family: 'IcoFont';
        font-style: normal;
        font-weight: 400;
        src: 
          url('../fonts/icofont.woff2') format('woff2'),
          url('../fonts/icofont.woff') format('woff');
    }

    @font-face {
        font-family: 'AvertaStdPE-Thin';
        src: url('../fonts/AvertaStdPE-Thin/font.woff2') format('woff2'), url('../fonts/AvertaStdPE-Thin/font.woff') format('woff');
    }

    @font-face {
        font-family: 'AvertaStdPE-Bold';
        src: url('../fonts/AvertaStdPE-Bold/font.woff2') format('woff2'), url('../fonts/AvertaStdPE-Bold/font.woff') format('woff');
    }
      
    [class^="icofont-"],
    [class*=" icofont-"],
    [class^="icofont"] {
        font-family: var(--font-icon);
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        line-height: 1;
        font-feature-settings: "liga";
        -webkit-font-smoothing: antialiased;
    }

    .text-center,
    .aligncenter {
        text-align: center;
    }

    .text-right {
        justify-content: flex-end;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .mb-10 {
        margin-bottom: 1.5rem;
    }

    .spacer {
        padding: var(--vertical-rhythm) 0;
    }
