.wp-caption {
    max-width: 100%;
}

img {
	display: inline-flex;
    vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.required {
	color: var(--color-red);
}

a {
	text-decoration: none;
}

.alert {

    padding: 10px 0;

    .alert__container {
	    display: flex;
	    align-items: center;
	    padding: 0 var(--half-grid-gutter, 8px);
	    width: 100%;

	    .title {
		    flex: 1 1;
		    padding: 0 10px;
		    -webkit-text-stroke: .025em currentColor;
		}

		.btn {
			align-content: flex-end;
		}

	}
}

.sm .alert__container .btn {
	display: none;
}

.des .alert__container .btn {
	display: inline-flex;
}