.main__header {
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all .3s ease;
    box-shadow: 0 1px 25px rgba(0,0,0, .1);

	&.hide {
		top: calc(var(--main-header-height) * -2);
		box-shadow: none;
	}

	.middle-sm {
		height: var(--main-header-height);
	}
}

	.site-logo {

		.site__title-text {
			line-height: calc(var(--heading-line-height) - 0.4);
			font-size: calc(var(--base-font-size) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
		}

		.site__title-desc {
			color: var(--color-white);
			margin-top: 5px;
		}

			.site__title-text a {
				text-decoration: none;
			}
	}

	


// /* Only stick if you can fit */
// @media (min-height: 800px) {
// 	.main__header {
// 		position: sticky;
// 		top: 0;
// 		z-index: 2;
// 	}
// }
