.grid__box {
	padding: var(--vertical-rhythm) 0;
}

.main__header {
	padding: 0;
}

.sm .entry-header {
	padding: 2.5rem 0;
}

.lap .entry-header {
	padding: 6rem 0;
}

body{
	background-color: red;
}