.main__header {
	position: relative;
	padding: 1rem 0;
}

	.site-logo {

		.site__title-text {
			line-height: calc(var(--heading-line-height) - 0.4);
			font-size: calc(var(--base-font-size) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
		}

		.site__title-desc {
			color: var(--color-white);
			margin-top: 5px;
		}

			.site__title-text a {
				text-decoration: none;
			}
	}


// /* Only stick if you can fit */
// @media (min-height: 800px) {
// 	.main__header {
// 		position: sticky;
// 		top: 0;
// 		z-index: 2;
// 	}
// }
