@media only screen and (min-width: 321px) {
    :root {
        --font-scale          : 1.1;
        
        --base-font-size      : 1.8rem;
        --base-line-height    : 1.5;
        --text-line-height    : 1.5;
        --heading-line-height : 1.3;
        --text-rhythm         : 2rem;
    }

    .mobimenu {
		display: flex;
    }
    
    .mainmenu {
		display: none;
    }
    
    .burger-menu {
		width: 35px;
		height: 30px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		z-index: 999;
    }
    
    .line {
		display: block;
		width: 100%;
		height: 3px;
		background-color: var(--color-white);
		transition: all 277ms linear;
    }
    
    .current-menu-item {
	    box-shadow: none;
    }
    
    .entry-header {
        padding: 2.5rem 0;
    }

    .modal__container {
        width: 100%;
    }
}