	.horizontal__nav .main-navigation {
		position: relative;
		display: flex;
		justify-content: flex-end;
		padding-left: 0;
		list-style-type: none;
	
		li {
			display: inline-flex;
		}
	
		.sub-menu {
			background: #000;
			border-radius: 0.4rem;
			color: #fff;
			font-size: 1.7rem;
			opacity: 0;
			padding: 1rem 0;
			position: absolute;
			right: 9999rem;
			top: calc(100% + 2rem);
			transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
			transform: translateY(0.6rem);
			width: 20rem;
			z-index: 1;
		}
	
		ul:before {
			height: 2rem;
			left: 0;
			right: 0;
			content: "";
			display: block;
			position: absolute;
			bottom: 100%;
		}
	}
	
	.main-navigation ul:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 100%;
	}
	
	.horizontal__nav {
		.main-navigation ul {
		&::after {
			border: 0.8rem solid transparent;
			border-bottom-color: #000;
			right: 1.8rem;
		}
	
		a {
			background: transparent;
			border: none;
			color: inherit;
			display: block !important;
			padding: 1rem 2rem;
			transition: background-color 0.15s linear;
		}
		}
	
		ul {
			li {
				position: relative;
			}
		
			&.sub-menu li {
				display: block;
			}
		
			li a {
				margin: 0;
				padding: 1rem 1.2rem;
				text-decoration: none;
				font-family: var(--font-sans-serif);
				font-weight: 300;
				color: var(--color-white);
				transition: background-color 277ms cubic-bezier(0.4, 0, 1, 1);
			
				&:hover {
					background-color: var(--color-black);
					transition: background-color 277ms cubic-bezier(0.4, 0, 1, 1);
				}
			}
		}
	
		li.menu-item-has-children:hover .sub-menu {
			right: 0;
			opacity: 1;
			transform: translateY(0);
			transition: opacity 0.15s linear, transform 0.15s linear;
		}
	}

	.mobimenu ul.main-navigation {
		padding: 0;
	}

	.change .line-1 {
		transform: rotateZ(-45deg) translate(-8px, 6px);
	}

	.change .line-2 {
		opacity: 0;
	}

	.change .line-3 {
		transform: rotateZ(45deg) translate(-8px, -6px);
	}

	.change.mobimenu {
		right: 0;
	}

	.vertical__nav {

		li {
			list-style: none;
		}

		li a {
			text-decoration: none;
			color: var(--color-white);
			padding: 1.25rem 0;
			border-top: 1px solid rgba(var(--white), 0.4);
		}

		ul.main-navigation > li:last-child {
			border-bottom: 1px solid rgba(var(--white), 0.4);
		}

	}

	.mobimenu {

		width: 100vw;
		height: 100vh;
		background-color: var(--color-blue);
		position: fixed;
		top: 0;
		right: -100vw;
		justify-content: center;
		align-items: flex-start;
		padding-top: 6rem;
		transition: right 500ms cubic-bezier(1, 0, 0, 1);
		z-index: 2;

		> div[class*="container"] {
			width: 90%;
		}

		li a {
			display: block;

			&:hover{
				color: var(--color-orange);
			}
		}

		.menu-item-has-children {
			position: relative;

			&:before {
				position: absolute;
				content: '';
				right: 1rem;
				top: 1.5rem;
				border: solid var(--color-white);
				border-width: 0 3px 3px 0;
				display: inline-block;
				padding: 3px;
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}
		}

		.menu-item-has-children.sub-menu-active:before {
			transform: rotate(-135deg);
			-webkit-transform: rotate(-135deg);
			top: 2rem;
		}

		.main-navigation .sub-menu {
			overflow: hidden;
			transition: max-height 0.3s;
			max-height: 0;
			margin-top: 0;
			padding-left: 15px;
		}

		.sub-menu-active .sub-menu {
			max-height: 1000px;
		}

	}

	.mobimenu-is-open {
		position: relative;
		z-index: 0;
		overflow: hidden;
	}