footer.footer {
	padding: var(--vertical-rhythm) 0 0 0;
}

.follow-us {
    padding: var(--vertical-rhythm) 0;
}

.footer-menu ul li a {
	color: var(--color-white);
}

.site-info p {
	margin: 2rem 0;
}