.wp-caption {
    max-width: 100%;
}

img {
	display: inline-flex;
    vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.required {
	color: var(--color-red);
}

a {
	text-decoration: none;
}