.icofont-search-1:before
{
  content: "\ed11";
}

.icofont-github:before
{
  content: "\ed3e";
}

.icofont-facebook:before
{
  content: "\ed37";
}

.icofont-behance:before
{
  content: "\ed22";
}

.icofont-deviantart:before
{
  content: "\ed2b";
}

.icofont-sale-discount:before
{
  content: "\efdd";
}

.icofont-mastercard-alt:before
{
  content: "\ecda";
}

.icofont-diners-club-alt-1:before
{
  content: "\ecca";
}

.icofont-visa-alt:before
{
  content: "\ece6";
}

.icofont-paypal-alt:before
{
  content: "\ecde";
}

.icofont-amazon-alt:before
{
  content: "\ecbe";
}

.icofont-google-wallet-alt-2:before
{
  content: "\ecd3";
}

.icofont-apple-pay-alt:before
{
  content: "\ecc2";
}

.icofont-discover-alt:before
{
  content: "\ecce";
}

.icofont-american-express-alt:before
{
  content: "\ecc0";
}

.icofont-slack:before
{
  content: "\ed68";
}

.icofont-reddit:before
{
  content: "\ed62";
}

.icofont-instagram:before
{
  content: "\ed46";
}

.icofont-linkedin:before
{
  content: "\ed4d";
}

.icofont-youtube-play:before
{
  content: "\ecbb";
}

.icofont-vimeo:before
{
  content: "\ed7f";
}

.icofont-spotify:before
{
  content: "\ed6e";
}

.icofont-brand-lastfm:before
{
  content: "\e8f8";
}

.icofont-brand-foursquare:before
{
  content: "\e8d8";
}

.icofont-dribbble:before
{
  content: "\ed2e";
}

.icofont-brand-etsy:before
{
  content: "\e8d1";
}

.icofont-stack-overflow:before
{
  content: "\ed70";
}

.icofont-pinterest:before
{
  content: "\ed5d";
}

.icofont-brand-flikr:before
{
  content: "\e8d6";
}

.icofont-weibo:before
{
  content: "\ed85";
}

.icofont-dollar:before
{
  content: "\e9d8";
}

.icofont-euro:before
{
  content: "\e9e2";
}

.icofont-ui-call:before
{
  content: "\ec46";
}

.icofont-ui-laoding:before
{
  content: "\ec60";
}

.icofont-ui-calendar:before
{
  content: "\ec45";
}

.icofont-clock-time:before
{
  content: "\eedc";
}

.icofont-user-alt-3:before
{
  content: "\ecfd";
}

.icofont-check:before
{
  content: "\eed8";
}

.icofont-cart:before
{
  content: "\eed2";
}

.icofont-cart-alt:before
{
  content: "\eed1";
}

.icofont-binoculars:before
{
  content: "\eebd";
}

.icofont-location-pin:before
{
  content: "\ef79";
}

.icofont-map-pins:before
{
  content: "\ef8a";
}

.icofont-map:before
{
  content: "\ef8b";
}

.icofont-megaphone:before
{
  content: "\ef91";
}

.icofont-news:before
{
  content: "\efa6";
}

.icofont-notification:before
{
  content: "\efac";
}

.icofont-share:before
{
  content: "\efe5";
}

.icofont-rss-feed:before
{
  content: "\efdb";
}

.icofont-twitter:before
{
  content: "\ed7a";
}

.icofont-twitch:before
{
  content: "\ed79";
}

.icofont-edit:before
{
  content: "\ef10";
}

.icofont-credit-card:before
{
  content: "\eef4";
}

.icofont-scroll-down:before
{
  content: "\eaaa";
}

.icofont-thin-down:before
{
  content: "\eac8";
}

.icofont-simple-down:before
{
  content: "\eab2";
}

.icofont-simple-up:before
{
  content: "\eab9";
}

.icofont-thin-up:before
{
  content: "\eacb";
}

.icofont-heart:before
{
  content: "\ef45";
}

.icofont-quote-left:before
{
  content: "\efcd";
}

.icofont-quote-right:before
{
  content: "\efce";
}

.icofont-xs
{
  font-size: .5em;
}

.icofont-sm
{
  font-size: .75em;
}

.icofont-md
{
  font-size: 1.25em;
}

.icofont-lg
{
  font-size: 1.5em;
}

.icofont-1x
{
  font-size: 1em;
}

.icofont-2x
{
  font-size: 2em;
}

.icofont-3x
{
  font-size: 3em;
}

.icofont-4x
{
  font-size: 4em;
}

.icofont-5x
{
  font-size: 5em;
}

.icofont-6x
{
  font-size: 6em;
}

.icofont-7x
{
  font-size: 7em;
}

.icofont-8x
{
  font-size: 8em;
}

.icofont-9x
{
  font-size: 9em;
}

.icofont-10x
{
  font-size: 10em;
}

.icofont-fw
{
  text-align: center;
  width: 1.25em;
}

.icofont-ul
{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.icofont-ul > li
{
  position: relative;
  line-height: 2em;
}

.icofont-ul > li .icofont
{
  display: inline-block;
  vertical-align: middle;
}

.icofont-border
{
  border: solid 0.08em #f1f1f1;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.icofont-pull-left
{
  float: left;
}

.icofont-pull-right
{
  float: right;
}

.icofont.icofont-pull-left
{
  margin-right: .3em;
}

.icofont.icofont-pull-right
{
  margin-left: .3em;
}

.icofont-spin
{
  -webkit-animation: icofont-spin 2s infinite linear;
  animation: icofont-spin 2s infinite linear;
  display: inline-block;
}

.icofont-pulse
{
  -webkit-animation: icofont-spin 1s infinite steps(8);
  animation: icofont-spin 1s infinite steps(8);
  display: inline-block;
}

@-webkit-keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icofont-rotate-90
{
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icofont-rotate-180
{
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icofont-rotate-270
{
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.icofont-flip-horizontal
{
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.icofont-flip-vertical
{
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.icofont-flip-horizontal.icofont-flip-vertical
{
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

:root .icofont-rotate-90,
	:root .icofont-rotate-180,
	:root .icofont-rotate-270,
	:root .icofont-flip-horizontal,
	:root .icofont-flip-vertical
{
  -webkit-filter: none;
  filter: none;
  display: inline-block;
}

.icofont-inverse
{
  color: #fff;
}

.sr-only
{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
	.sr-only-focusable:focus
{
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}